body{
    background: #cdaa80;
}

#snowCanvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0f1e3f;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  font-size: 20px;
  font-weight: bold;
  color: #fcedd3;
  margin-top: 4px;
  margin-bottom: 13px;
}

.modal-content {
  background: rgb(16, 42, 107);
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255,255,255,0.4);
  width: 300px;
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 80%;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

button {
  padding: 8px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #fcedd3;
  color: #102a6b;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

button:hover {
  background: #cea273;
}

#slotMachine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.85);
  border: 4px solid #d14b4b;
  border-radius: 12px;
  padding: 15px;
  width: 300px;
  height: 120px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.reel {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 5px;
  overflow: hidden;
  border-radius: 8px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-timing-function: linear;
}

.reel-inner img {
  width: 100%;
  height: 80px;
  object-fit: contain;
}

#container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  top: 50%;
  transform: translateY(0);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.modal1 {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content1 {
  background: #fff;
  color: #333;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  position: relative;
}

.modal-content1 h2 {
  margin-top: 0;
}

.modal-content1 button {
  margin-top: 10px;
  background: #f2b705;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
}

.modal-content1 button:hover {
  background: #ffd43b;
}
